#form-select {
  width: 100%;
  padding: 12px 6px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-group {
  margin-top: 16px;
}

.form-group label {
  margin-bottom: 4px;
}

.edit_order label {
  color: red;
  font-weight: 500;
}