.new {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f0eadc;
}

.new_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px 0 18px 0;
  border: 2px solid #754F23;
  border-radius: 12px;
}

.new_details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new_img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.new_details-content {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
}